# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# Docker
.docker/

# Media files
media/
*.jpg
*.jpeg
*.png
*.gif